.fakeimg {
  height: 100px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQG4qLnjNjOf951dZW_Gwz3YM0sSacMEpPo_w&usqp=CAU");
  background-size: cover;
  background-position: center;
}
.jumbotron {
  background-color: blue;
  color: blue;
}

h1 {
  font-size: 40px;
}
#akan {
  font-size: 50px;
  font-weight: bolder;
  color: green;
}
img1 {
  border: hidden;
  border-radius: 60%;
}

.par {
  color: black;
  font-size: 40px;
}
.h2 {
  color: black;

}
ul {
  font-weight: bolder;
}
span {
  color: yellowgreen;
  font-size: 36x;
}
.alert {
  color: red;
  font-size: 40px;
}
