.fakeimg {
  height: 100px;
  background: url(../home/jerry/image.jpg);
  background-size: cover;
  background-position: center;
}
.jumbotron {
  background-color: blue;
  color: lightskyblue;
}

h1 {
  font-size: 40px;
}
#akan {
  font-size: 50px;
  font-weight: bolder;
  color: green;
}
.par {
  color: black;
  font-size: 40px;
}
.h2 {
  color: black;

}
ul {
  font-weight: bolder;
}
span {
  color: yellowgreen;
  font-size: 36x;
}
.alert {
  color: red;
  font-size: 40px;
}
