.fakeimg {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTv4stEolcmh0xMbseQLJVDXwvCu__3RNnNoA&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center center center;
    padding-bottom: 300px;
}
.jumbotron {
  background-color: blue;
  color: black;
}

h1 {
  font-size: 40px;
}
#akan {
  font-size: 50px;
  font-weight: bolder;
  color: green;
}
img1,
img2 {
  border: hidden;
  border-radius: 75%;
}

.par {
  color: black;
  font-size: 40px;
}
.h2 {
  color: black;

}
ul {
  font-weight: bolder;
}
span {
  color: yellowgreen;
  font-size: 36x;
}
.alert {
  color: red;
  font-size: 40px;
}
