.jumbotron {
  background-color: blue;
  color: black;
}
body {
  margin: 0;
    padding: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTv4stEolcmh0xMbseQLJVDXwvCu__3RNnNoA&usqp=CAU");
    background-color: blue;
    background-position: center;
    background-size: cover;
    
}


h1 {
  font-size: 40px;
}
#akan {
  font-size: 50px;
  font-weight: bolder;
  color: green;
}
img1 {
  border: hidden;
  border-radius: 75%;
}

.par {
  color: black;
  font-size: 40px;
  font-weight: bolder;
}
.h2 {
  color: black;

}
ul {
  font-weight: bolder;
}
span {
  color: yellowgreen;
  font-size: 36x;
}
.alert {
  color: red;
  font-size: 40px;
}
